<div>
    <label for="cep">CEP: </label>
    <input type="text" [(ngModel)]="endereco.cep">
    <button (click)="consultarCep()">Consultar</button>
</div>
<div>
    <ul *ngIf="consultaRealizada">
        <li><strong>CEP:</strong> {{ endereco.cep }}</li>
        <li><strong>Logradouro:</strong> {{ endereco.logradouro }}</li>
        <li><strong>Complemento:</strong> {{ endereco.complemento }}</li>
        <li><strong>Bairro:</strong> {{ endereco.bairro }}</li>
        <li><strong>Localidade:</strong> {{ endereco.localidade }}</li>
        <li><strong>UF:</strong> {{ endereco.uf }}</li>
        <li><strong>IBGE:</strong> {{ endereco.ibge }}</li>
        <li><strong>GIA:</strong> {{ endereco.gia }}</li>
        <li><strong>DDD:</strong> {{ endereco.ddd }}</li>
        <li><strong>SIAFI:</strong> {{ endereco.siafi }}</li>
    </ul>
</div>