<div>
    <h2>Buscar CEP</h2>
    <label for="cep">CEP:</label>
    <input type="text" id="cep" [(ngModel)]="cep" />
    <button (click)="buscarCEP()">Buscar</button>
  
    <div *ngIf="cepData">
      <h3>Dados do CEP</h3>
      <p><strong>CEP:</strong> {{ cepData.cep }}</p>
      <p><strong>Logradouro:</strong> {{ cepData.logradouro }}</p>
      <p><strong>Bairro:</strong> {{ cepData.bairro }}</p>
      <p><strong>Cidade:</strong> {{ cepData.localidade }}</p>
      <p><strong>Estado:</strong> {{ cepData.uf }}</p>
    </div>
  </div>
  